* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: rgb(64, 221, 172);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(187, 127, 255);
    flex-direction: row;
    display: flex;
}

/*propiedades de flexblox para los items

*flex-basics -> Tamaño del main-sizes del elementos, es como un "width" ancho base del elemento

Cuando Flex-direction: row | row reverse -> flex basics = ancho

cuando Flex-direction: colum | colum reverse -> flex basics = alto

flex-basics es relativo al espacio del cotenedor, si no hay espacio sufiencie, los elementos no creeceran más alla.

si tengo flex-basic 
 
*/

.item {
    flex-basis: 400px;
    background-color: rgb(242, 57, 85);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border:1px solid black;

}

/*vamos a usar algo que se llama seudoclases para seleccionar los item individualmente*/

/*.item:nth-child(3){
    background-color: rgb(140, 140, 235);
    font-size: 54px;
    padding-top: 50px;
}
.item:nth-child(2){
    background-color: rgb(111, 111, 236);
    font-size: 87px;
    padding-top: 67px;
}
.item:nth-child(4){
    background-color: rgb(94, 94, 214);
    font-size: 65px;
    padding-top: 98px;
}
.item:nth-child(1){
    background-color: #9696ff;
    font-size: 34px;
    padding-top: 45px;
}*/