* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: rgb(64, 221, 172);
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    height: 500px;
    background-color: rgb(208, 168, 255);
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.item {
    width:100px ;
    height: 100px;
    background-color: rgb(242, 57, 85);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border:1px solid black; 

}
/*

aling-self-> se pasa a unos varios elementos en particular.

Va a Aliniear en el eje transversa a ese a ese elemento unicamente. y sobre escribe la
propiedad de aling-items  y su valor si se ha declarado en el contenedor

recibe los mismo valores que los items que aling-items:


*/

.solito{
align-self: flex-end;
height: auto;

}